<section class="page-content container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-10">
      <div class="card">
        <h2 class="card-header">Alterar Atendimento</h2>
        <div class="card-body">
          <form [formGroup]="cadastroForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="uf"><strong>Acolhido</strong></label><small class="requiredInput"
                        *ngIf="cadastroForm.get('acolhido').hasError('required')">*</small>
                        <input type="text" id="nome" class="form-control input-rounded text-muted" placeholder="Acolhido"
                        formControlName="acolhido" aria-label="acolhido" aria-describedby="basic-addon1" required
                        [(ngModel)]="atendimento.acolhido">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="uf"><strong>Estagiário</strong></label><small class="requiredInput"
                        *ngIf="cadastroForm.get('estagiario').hasError('required')">*</small>
                        <input type="text" id="nome" class="form-control input-rounded text-muted" placeholder="Estagiário"
                        formControlName="estagiario" aria-label="estagiario" aria-describedby="basic-addon1" required
                        [(ngModel)]="atendimento.estagiario">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class=" mb-3">
                      <label for="servico"><strong>Serviço</strong></label>
                      <small class="requiredInput" *ngIf="cadastroForm.get('servico').hasError('required')">*</small>
                      <input type="text" id="nome" class="form-control input-rounded text-muted" placeholder="Servico"
                        formControlName="servico" aria-label="servico" aria-describedby="basic-addon1" required
                        [(ngModel)]="atendimento.servico">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="dias_da_semana"><strong>Dias de Atendimento</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('dias_da_semana').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="dias_da_semana" formControlName="dias_da_semana"
                        required placeholder="Ex: SEG, TER, QUA" [(ngModel)]="atendimento.dias_da_semana">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="horario"><strong>Horario de Atendimento</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('horario').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="time" class="form-control input-rounded" id="horario" formControlName="horario"
                        required [(ngModel)]="atendimento.horario">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr class="dashed ">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-rounded btn-gradient align-center checkout-animaw col-4 order-6"
          (click)="atualizarAtendimento()">Atualizar</button>
      </div>
      <!-- <div class="d-flex justify-content-center" *ngIf="loginFormLoading">
          <img class="loading-svg" src="/assets/imgs/loadingCircle.svg" />
        </div> -->
    </div>
  </div>
</section>
