.tablesaw-advance .tablesaw-btn.btn-micro{
    background-color: #860756 !important;
      border-radius: 12px;
      font-size: 0.8em !important;
      padding-top: 3px;
      padding-bottom: 5px;
  }