<div *ngIf="qtdPage > 1" class="tablesaw-advance">
    <a *ngIf="page != 1" (click)="clickPage('first')" class="btn tablesaw-nav-btn tablesaw-btn btn-micro">
      <<</a> <a *ngIf=" page-1 > 0 " (click)="clickPage('previous')" class="btn tablesaw-nav-btn tablesaw-btn btn-micro">
        {{page
        -1}}
    </a>
    <a (click)="clickPage('current')" class="btn tablesaw-nav-btn tablesaw-btn btn-micro disabled"> {{page}}</a>
    <a *ngIf=" page+1 <= qtdPage" (click)="clickPage('next')" class="btn tablesaw-nav-btn tablesaw-btn btn-micro">{{page
      +1}} </a>
    <a *ngIf="page != qtdPage" (click)="clickPage('last')" class="btn tablesaw-nav-btn tablesaw-btn btn-micro">
      >> </a>
  </div>
