<div class="text-right">
  <a class="btn btn-grad" [routerLink]="['/admin/atendimentos/novo_atendimento']">Novo Atendimento</a>
</div>
<div class="text-center">
  <img src="../../../../assets/imagens/magnifying-glass.png" width='20px' height='20px'>
  <input class="form-control search-atendimento" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="Procurar">
</div>
<div class="container text-center">
  <h2>Lista de Atendimentos</h2>
  <div>
    <div *ngIf='loading' class="spinner"></div>
    <table class="table-inline">
      <thead>
        <tr>
          <th>Acolhido</th>
          <th>Estagiário</th>
          <th>Serviço</th>
          <th>Dias da Semana</th>
          <th>Sala</th>
          <th>Horário</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let atendimento of atendimentos | filter:searchText" class="cursor">
          <td><b>{{atendimento?.acolhido}}</b></td>
          <td> {{atendimento?.estagiario}}</td>
          <td>{{atendimento?.servico}}</td>
          <td><small>{{atendimento?.dias_da_semana}}</small></td>
          <!-- <td>{{atendimento?.dias_da_semana | mask:
              '000.000.000-00'}}</td> -->
          <td>{{atendimento?.sala}}</td>
          <td>{{atendimento?.horario}}</td>
          <td *ngIf="atendimento?.is_active" ><p class='is_active'>Ativo</p></td>
          <td *ngIf="!atendimento?.is_active"><p class='is_inactive'>Inativo</p></td>
          <td>
            <button type="button" class="btn btn-edit-delete"><a><img src="../../../../assets/imagens/edit.svg"
                  [routerLink]="['/admin/atendimentos/alterar', atendimento.id]" width='20px' height='20px'
                  alt=""></a></button>
            <button type="button" class="btn btn-edit-delete" mwlConfirmationPopover [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage" placement="left" (confirm)="deletarAtendimento(atendimento.id)"
              (cancel)="cancelClicked = true">
              <a><img src="../../../../assets/imagens/delete.svg" width='20px' height='20px' alt=""></a></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <br>
      <button class="btn btn-outline">Próximo</button>
    </div>
  </div>
</div>
<!-- <app-paginacao [page]="paginacao.page" [qtdPage]="paginacao.pageNumbers" [resultsPerPage]="paginacao.page"
    (changePage)="changePage($event)">
  </app-paginacao> -->