<div class="text-center">
  <img src="../../../../assets/imagens/magnifying-glass.png" width='20px' height='20px'>
  <input class="form-control search-servico" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="Procurar">
</div>
<div class="container text-center">
  <h2>Lista de Servicos</h2>
  <div>
    <div *ngIf='loading' class="spinner"></div>
    <table class="table-inline">
      <thead>
        <tr>
          <th>Servico</th>
          <th>Qtd de Vagas</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let servico of servicos | filter:searchText" class="cursor">
          <td><b>{{servico?.nome}}</b></td>
          <td> {{servico?.vagas}}</td>
          <td>
            <!-- <button type="button" class="btn btn-edit-delete"><a><img src="../../../../assets/imagens/edit.svg"
                  [routerLink]="['/admin/servicos/alterar', servico.id]" width='20px' height='20px'
                  alt=""></a></button>
            <button type="button" class="btn btn-edit-delete" mwlConfirmationPopover [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage" placement="left" (confirm)="deletarServico(servico.id)"
              (cancel)="cancelClicked = true">
              <a><img src="../../../../assets/imagens/delete.svg" width='20px' height='20px' alt=""></a></button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <br>
      <button class="btn btn-outline">Próximo</button>
    </div>
  </div>
</div>
<!-- <app-paginacao [page]="paginacao.page" [qtdPage]="paginacao.pageNumbers" [resultsPerPage]="paginacao.page"
    (changePage)="changePage($event)">
  </app-paginacao> -->