.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
  width: 60px;
  margin-top: 8px;

}
.nav-link {
  /* display: block; */
  padding: initial;
}

a#logo {
  padding: initial;
  margin-left: 14px;
}

.header-nav.clr-nav-level-1 {
  margin-left: 10px;
  background-color: #808080;
}

.header.header-7{
  background-color: #b3b3b3;
}


.dropdown .dropdown-toggle:not(.btn) {
  margin-left: auto;
  padding: 3px 0.5rem 0 23px;
}
