<clr-main-container>
  <clr-header class="header header-7">
    <a [routerLink]="['/admin']" class="nav-link" id="logo">
      <img src="../../../assets/imagens/output-onlinepngtools.png" class="img-fluid">
      <!--<clr-icon shape="vm-bug"></clr-icon>-->
      <!--<span class="title">Project Clarity</span>-->
    </a>
    <div class="header-nav" [clr-nav-level]="3">
      <a [routerLink]="['/admin']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-link"><span class="nav-text">Inicio</span></a>
      <!--<app-topo></app-topo>-->
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="" clrDropdownItem>Sobre</a>
          <a href="" clrDropdownItem>Preferencias</a>
          <a (click)='logout()' clrDropdownItem>Sair</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <!--<nav class="sidenav" [clr-nav-level]="2">-->
    <!--...-->
    <!--</nav>-->
  </div>
</clr-main-container>
