<section class="page-content container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-10">
      <div class="card">
        <h2 class="card-header">Novo Atendimento</h2>
        <div class="card-body">
          <form [formGroup]="cadastroForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="uf"><strong>Acolhido</strong></label><small class="requiredInput"
                        *ngIf="cadastroForm.get('acolhido').hasError('required')">*</small>
                      <!-- <select id="acolhido" class="form-control select-size" formControlName="acolhido" required>
                        <option *ngFor="let a of acolhidos" [ngValue]="a">{{a.nome}}</option>
                      </select> -->
                      <input required [typeahead]="acolhidos" id="acolhido" typeaheadOptionField="nome"
                        formControlName="acolhido" (typeaheadOnSelect)="selecionaAcolhido($event)"
                        [typeaheadOptionsLimit]="10" [typeaheadMinLength]="0" placeholder="Digite o nome do Acolhido"
                        class="form-control input-rounded">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="uf"><strong>Estagiário</strong></label><small class="requiredInput"
                        *ngIf="cadastroForm.get('estagiario').hasError('required')">*</small>
                      <!-- <select id="estagiario" class="form-control select-size" formControlName="estagiario" required>
                        <option *ngFor="let e of estagiarios" [ngValue]="e">{{e.nome}}</option>
                      </select> -->
                      <input required [typeahead]="estagiarios" id="estagiario" typeaheadOptionField="nome"
                        formControlName="estagiario" (typeaheadOnSelect)="selecionaEstagiario($event)"
                        [typeaheadOptionsLimit]="10" [typeaheadMinLength]="0" placeholder="Digite o nome do Estagiario"
                        class="form-control input-rounded">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class=" mb-3">
                      <label for="servico"><strong>Serviço</strong></label>
                      <small class="requiredInput" *ngIf="cadastroForm.get('servico').hasError('required')">*</small>
                      <input required [typeahead]="servicos" id="servico" typeaheadOptionField="nome"
                        formControlName="servico" (typeaheadOnSelect)="selecionaServico($event)"
                        [typeaheadOptionsLimit]="10" [typeaheadMinLength]="0" placeholder="Digite o nome do Serviço"
                        class="form-control input-rounded">
                      <!-- <select id="servico" class="form-control select-size" formControlName="servico" required>
                        <option *ngFor="let s of servicos" [ngValue]="s">{{s.nome}}</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="dias_da_semana"><strong>Dias de Atendimento</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('dias_da_semana').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="dias_da_semana" formControlName="dias_da_semana"
                        required placeholder="Ex: SEG, TER, QUA">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="sala"><strong>Sala</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('sala').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="sala" formControlName="sala"
                        required placeholder="Ex: 101">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="horario"><strong>Horario de Atendimento</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('horario').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="time" class="form-control input-rounded" id="horario" formControlName="horario"
                        maxlength="20" required placeholder="Cidade onde mora">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr class="dashed ">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-rounded btn-gradient align-center checkout-animaw col-4 order-6"
          (click)="cadastrarAtendimento()">Cadastrar</button>
      </div>
      <!-- <div class="d-flex justify-content-center" *ngIf="loginFormLoading">
          <img class="loading-svg" src="/assets/imgs/loadingCircle.svg" />
        </div> -->
    </div>
  </div>
</section>