h6 {
    text-align: center;
  }
  
  .container {
    margin-top: 66px;
  }
  
  .clr-row {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  .link:hover {
    background-color: #ccddff;
  }
  .search-estagiario {
    align-content: center;
    text-align: center;
    text-align: center;
    width: 40%;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    outline: 0 !important;
  }
  table {
    border-collapse: collapse;
    //   display: inline-block;
    text-align: center;
    //   border-top: 1px solid #888;
    width: 50% !important; /*Importante manter o !important rs */
    margin: auto;
  }
  table thead {
    background: #bbb;
  }
  table tr:nth-child(even) {
    background: #dfdfdf;
  }
  table th,
  table td {
    padding: 10px 20px;
    //   border: 1px solid #888;
    border-width: 0 1px 1px;
  }
  th {
    font-size: 15px;
  }
  
  /*responsive table*/
  @media screen and (max-width: 600px) {
    /*put each field on its own line and align text to the right
         *border is added for further readability
         */
    table td {
      display: block;
      text-align: right;
    }
    /*put data-label content before each field floated to the left*/
    table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      margin-right: 10px;
    }
    /*remove thead*/
    table thead {
      display: none;
    }
  }
  .is_active{
    border-radius: 10px;
    background-color: #13831c;
    color: white;
  }
  .btn-edit-delete{
    size: 15px;
    border: none;
    border-radius: 15px;
    background: none;
    margin-top: 10px;
    margin-right: 5px;
  }
  .btn {
      font-size: 15px;
      flex: 1 1 auto;
      // margin: 10px;
      // padding: 30px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      // color: white;
     /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
     }
  .btn-grad {
      color: white;
      background-image: linear-gradient(to right, #314755 0%, #305899 51%, #314755 100%);
    }
  .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
  }
  .card-header{
    font-size: 25px;
  }
  