<div class="text-center">
  <img src="../../../../assets/imagens/magnifying-glass.png" width='20px' height='20px'>
  <input class="form-control search-estagiario" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="Procurar">
</div>
<div class="container text-center">
  <h2 class="card-header">Lista de Ponto</h2><br>
  <div *ngIf='loading' class="spinner text-center"></div>
  <table class="table-inline">
    <thead>
      <tr>
        <th>Estagiário</th>
        <th>Data/Hora Entrada</th>
        <th>Data/Hora Saida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let ponto of pontos | filter:searchText" (click)="selecionaEstagiario(estagiario)"
        class="cursor">
        <td>{{ponto?.estagiario}}</td>
        <td> {{ponto?.dataHoraEntrada}}</td>
        <td>{{ponto?.dataHoraSaida}}</td>
        <!-- <td>
          <button type="button" class="btn btn-edit-delete" (click)='entradaPontoEstagiario(estagiario.id, estagiario.nome)'>
            <a>Entrada<img src="../../../../assets/imagens/check-in.png" width='35px' height='35px' alt=""></a></button>
          <button type="button" class="btn btn-edit-delete" (click)='saidaPontoEstagiario(estagiario.cgu, estagiario.nome)'>
            <a>Saida<img src="../../../../assets/imagens/check-out.png" width='35px' height='35px' alt=""></a></button>
        </td>
        <td>
          <button type="button" class="btn btn-edit-delete"><a><img src="../../../../assets/imagens/edit.svg"
                [routerLink]="['/admin/estagiarios/alterar', estagiario.id]" width='20px' height='20px'
                alt=""></a></button>
          <button type="button" class="btn btn-edit-delete" mwlConfirmationPopover [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage" placement="left" (confirm)="deletarEstagiario(estagiario.id)"
            (cancel)="cancelClicked = true">
            <a><img src="../../../../assets/imagens/delete.svg" width='20px' height='20px' alt=""></a></button>
        </td> -->
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <br>
    <button class="btn btn-outline">Próximo</button>
  </div>
</div>

<!-- <app-paginacao [page]="paginacao.page" [qtdPage]="paginacao.pageNumbers" [resultsPerPage]="paginacao.page"
    (changePage)="changePage($event)">
  </app-paginacao> -->