<div class="page-content container-fluid">
  <div class="row justify-content-center align-items-center">
    <!-- <div class="col-xl-3 col-lg-10"> -->
    <!-- <ur-card-perfil [user]="user"></ur-card-perfil> -->
    <!-- </div> -->
    <div class="col-md-10">
      <div class="card">
        <b>
          <h4 class="card-header">Editar Acolhido</h4>
        </b>
        <div class="card-body">
          <form clrForm clrLayout="horizontal" [formGroup]="cadastroForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-row">
                  <div class="col-md-6" [formGroup]="cadastroForm">
                    <label for="nome"><strong>Nome</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('nome').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="nome" class="form-control input-rounded text-muted" placeholder="Seu Nome"
                        formControlName="nome" aria-label="nome" aria-describedby="basic-addon1" required
                        [(ngModel)]="acolhido.nome">
                    </div>
                  </div>
                  <div class="col-md-6" [formGroup]="cadastroForm">
                    <label for="data_de_nascimento"><strong>Data de Nascimento</strong></label><small
                      class="requiredInput"
                      *ngIf="cadastroForm.get('data_de_nascimento').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="date" class="form-control input-rounded" id="data_de_nascimento"
                        formControlName="data_de_nascimento" required placeholder="dd/mm/AAAA"
                        [(ngModel)]="acolhido.data_de_nascimento">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="sexo"><strong>Sexo</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('sexo').hasError('required')">*</small>
                    <select id="sexo" class="form-control select-size" formControlName="sexo" required
                      [(ngModel)]="acolhido.sexo">
                      <option selected="" value="">...</option>
                      <option value="M">Masculino</option>
                      <option value="F">Feminino</option>
                    </select>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="email"><strong>Email</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('email').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="email" class="form-control input-rounded" formControlName="email"
                        aria-label="email" aria-describedby="basic-addon1" placeholder="email@email.com" required
                        [(ngModel)]="acolhido.email">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="naturalidade_cidade"><strong>Naturalidade(Cidade)</strong></label><small
                      class="requiredInput"
                      *ngIf="cadastroForm.get('naturalidade_cidade').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="naturalidade_cidade"
                        formControlName="naturalidade_cidade" required placeholder="Cidade onde nasceu"
                        [(ngModel)]="acolhido.naturalidade_cidade">
                    </div>
                  </div>
                  <div class="col-md-2" [formGroup]="cadastroForm">
                    <label for="naturalidade_uf"><strong>Naturalidade(Estado)</strong></label><small
                      class="requiredInput" *ngIf="cadastroForm.get('naturalidade_uf').hasError('required')">*</small>
                    <select id="naturalidade_uf" class="form-control select-size"
                      formControlName="naturalidade_uf" required [(ngModel)]="acolhido.naturalidade_uf">
                      <option selected="" value="">...</option>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AP">AP</option>
                      <option value="AM">AM</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MT">MT</option>
                      <option value="MS">MS</option>
                      <option value="MG">MG</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PR">PR</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RS">RS</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SP">SP</option>
                      <option value="SE">SE</option>
                      <option value="TO">TO</option>
                    </select>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="cpf"><strong>CPF</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('cpf').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="cpf" class="form-control input-rounded text-muted" mask="000.000.000-00"
                        formControlName="cpf" aria-label="cpf" aria-describedby="basic-addon1" required
                        [(ngModel)]="acolhido.cpf">
                    </div>
                  </div>
                  <div class="col-md-2" [formGroup]="cadastroForm">
                    <label for="rg"><strong>RG</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('rg').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="rg" maxlength="12" class="form-control input-rounded text-muted" mask=""
                        placeholder="RG" formControlName="rg" aria-label="rg" aria-describedby="basic-addon1" required
                        [(ngModel)]="acolhido.rg">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="nome_da_mae"><strong>Nome da Mãe</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('nome_da_mae').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="rg" maxlength="80" class="form-control input-rounded text-muted" mask=""
                        placeholder="Nome da Mãe" formControlName="nome_da_mae" aria-label="nome_da_mae"
                        aria-describedby="basic-addon1" required [(ngModel)]="acolhido.nome_da_mae">
                    </div>
                  </div>
                  <div class="col-md-2" [formGroup]="cadastroForm">
                    <label for="faixa_etaria"><strong>Faixa Etária</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('faixa_etaria').hasError('required')">*</small>
                    <select id="faixa_etaria" class="form-control select-size"
                      formControlName="faixa_etaria" required [(ngModel)]="acolhido.faixa_etaria">
                      <option selected="" value="">...</option>
                      <option value="Criança">Criança</option>
                      <option value="Adolescente">Adolescente</option>
                      <option value="Jovem">Jovem</option>
                      <option value="Adulto">Adulto</option>
                      <option value="Idoso">Idoso</option>
                    </select>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="escolaridade"><strong>Nível Escolaridade</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('escolaridade').hasError('required')">*</small>
                    <select id="escolaridade" class="form-control select-size"
                      formControlName="escolaridade" required [(ngModel)]="acolhido.escolaridade">
                      <option selected="" value="">...</option>
                      <option value="I">Infantil</option>
                      <option value="F">Fundamental</option>
                      <option value="M">Médio</option>
                      <option value="G">Graduação</option>
                      <option value="P">Pós-Graduação</option>
                    </select>
                  </div>
                  <div class="col-md-6" [formGroup]="cadastroForm">
                    <label for="endereco"><strong>Endereço</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('endereco').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="endereco" maxlength="60" class="form-control input-rounded text-muted"
                        mask="" placeholder="Endereco" formControlName="endereco" aria-label="endereco"
                        aria-describedby="basic-addon1" required [(ngModel)]="acolhido.endereco">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="telefone_celular"><strong>Telefone Celular</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('telefone_celular').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="telefone_celular"
                        formControlName="telefone_celular" required mask="(00)00000-0000" placeholder="(00) 00000-0000"
                        [(ngModel)]="acolhido.telefone_celular">
                    </div>
                  </div>
                  <div class="col-md-2" [formGroup]="cadastroForm">
                    <label for="estado_civil"><strong>Estado Civil</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('estado_civil').hasError('required')">*</small>
                    <select id="estado_civil" class="form-control select-size"
                      formControlName="estado_civil" required [(ngModel)]="acolhido.estado_civil">
                      <option selected="" value="">...</option>
                      <option value="Solteiro(a)">Solteiro(a)</option>
                      <option value="Casado(a)">Casado(a)</option>
                      <option value="Divorciado(a)">Divorciado(a)</option>
                      <option value="Viúvo(a)">Viúvo(a)</option>
                      <option value="Separado(a)">Separado(a)</option>
                    </select>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="cidade"><strong>Cidade</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('cidade').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="cidade" formControlName="cidade"
                        maxlength="20" required placeholder="Cidade onde mora" [(ngModel)]="acolhido.cidade">
                    </div>
                  </div>
                  <div class="col-md-2" [formGroup]="cadastroForm">
                    <label for="uf"><strong>Estado</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('uf').hasError('required')">*</small>
                    <select id="uf" class="form-control select-size" formControlName="uf" required
                      [(ngModel)]="acolhido.uf">
                      <option selected="" value="">...</option>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AP">AP</option>
                      <option value="AM">AM</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MT">MT</option>
                      <option value="MS">MS</option>
                      <option value="MG">MG</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PR">PR</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RS">RS</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SP">SP</option>
                      <option value="SE">SE</option>
                      <option value="TO">TO</option>
                    </select>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="cep"><strong>CEP</strong></label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="cep" formControlName="cep"
                        maxlength="20" required placeholder="Seu CEP" [(ngModel)]="acolhido.cep">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="telefone_comercial"><strong>Telefone Comercial</strong></label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="telefone_comercial"
                        formControlName="telefone_comercial" mask="(00)0000-0000" placeholder="(00) 0000-0000"
                        [(ngModel)]="acolhido.telefone_comercial">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="procedencia_indicacao"><strong>Indicação</strong></label>
                    <div class="input-group mb-3">
                      <input type="procedencia_indicacao" class="form-control input-rounded" id="procedencia_indicacao"
                        formControlName="procedencia_indicacao" placeholder="Como chegou ao SEPSI"
                        [(ngModel)]="acolhido.procedencia_indicacao">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr class="dashed ">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-rounded btn-gradient align-center checkout-animaw col-4 order-6"
          (click)="atualizarAcolhido()">Atualizar</button>
      </div>
    </div>
  </div>
</div>