// @import "../../../assets/sass/layouts/vertical/menu-type/default";
// @import "../../../assets/sass/layouts/vertical/menu-type/overlay";
// @import "../../../assets/sass/layouts/vertical/themes/theme-p";
// @import "../../../assets/sass/layouts/vertical/core/main";
// @import url('https://fonts.googleapis.com/css?family=Varela+Round');
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
    width: 60px;
    margin-top: 8px;
  
  }
  .nav-link {
    /* display: block; */
    padding: initial;
  }
  
  a#logo {
    padding: initial;
    margin-left: 14px;
  }
  
  .header-nav.clr-nav-level-1 {
    margin-left: 10px;
    background-color: #808080;
  }
  
  .header.header-7{
    background-color: #b3b3b3;
  }
  
  
  .dropdown .dropdown-toggle:not(.btn) {
    margin-left: auto;
    padding: 3px 0.5rem 0 23px;
  }
.card-header{
  font-size: 25px;
}
.requiredInput{
    color:red;
    font-size: 18px;
    text-align: center;
}

.select-size{
  font-size: 15px;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}
.input-rounded{
    border-radius: 10px;
    font-size: 13px;
    width: 95px;
    height: 40px;
}
.radio-inline input[type=radio]{
    position:absolute;
    margin-top:4px\9;
    margin-left:-20px
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

section{
    padding-right: 30px;
    font-family: 'Varela Round', sans-serif;
}

button{
    text-decoration: bold;
    color:white;
    align-content: center;
    background-color: #1c1c4b;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
  }

input.ng-dirty.ng-invalid {
    border-right: 3px solid red
}

.pointer {cursor: pointer;}
.not-allowed {cursor: not-allowed;}

.loading-svg{
    width: 30px;
    height: 30px;
}