<div [@animacao-painel]="estadopainel" class="main-container">
  <div class="content-container">
    <div class="content-area" id="content-area">
      <div class="container text-center">
        <div class="clr-row">
          <div class="clr-col-lg-8 clr-col-md-12 clr-col-12">
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/imagens/output-onlinepngtools.png" alt="Responsive image" class="img-fluid">
              </div>
              <div class="card-text">

                <div class="container">
                  <form clrForm  [formGroup]="formulario" class="form" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="standard" class="full-width">
                      <mat-label>E-mail</mat-label>
                      <input
                        matInput
                        placeholder="Informe seu e-mail!"
                        formControlName = "username"
                        [errorStateMatcher]="matcher"
                        autocomplete="off"

                      >
                      <mat-icon matSuffix>email</mat-icon>
                      <mat-error *ngIf="formulario.controls['username'].hasError('required')">
                        Campo Obrigatório.
                      </mat-error>
                      <mat-error *ngIf="formulario.controls['username'].hasError('pattern') &&  !formulario.controls['username'].hasError('required')">
                        Formato de e-mail errado.
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard" class="full-width">
                      <mat-label>Senha</mat-label>
                      <input
                        matInput
                        placeholder="Informe sua senha!"
                        formControlName = "password"
                        [errorStateMatcher]="matcher"
                        autocomplete="off"
                      >
                      <mat-icon matSuffix>lock</mat-icon>
                      <mat-error *ngIf="formulario.controls['password'].hasError('required')">
                        Campo Obrigatório.
                      </mat-error>
                      <mat-error *ngIf="formulario.controls['password'].hasError('minlength') && !formulario.controls['password'].hasError('required')">
                        A senha contém mais de 5 caracteres.
                      </mat-error>
                    </mat-form-field>
                    <div></div>
                    <button [clrLoading]="submitBtnState" type="submit"  class="btn btn-primary btn-block" [disabled]="formulario.valid">Login</button>
                  </form>

                  <div class="container" *ngIf="retornoAPI">
                    <div class="container-fluid">
                      <p class="text-danger">
                        <b>Nenhuma conta ativa encontrada com as credenciais fornecidas.</b>
                        Verifique seu nome de usuário e senha. Tente novamente.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a routerLink="/Login">Desenha realizar o login com o CGU ?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

