<div class="text-right">
  <a class="btn btn-grad" [routerLink]="['/admin/estagiarios/novo_estagiario']">Novo estagiario</a>
</div>
<div class="text-center">
  <img src="../../../../assets/imagens/magnifying-glass.png" width='20px' height='20px'>
  <input class="form-control search-estagiario" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="Procurar">
</div>
<div class="container text-center">
  <h2 class="card-header">Lista de Estagiários</h2><br>
  <div *ngIf='loading' class="spinner text-center"></div>
  <table class="table-inline">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CGU</th>
        <th>Data de Nascimento</th>
        <th>CPF</th>
        <th>RG</th>
        <th>Celular</th>
        <th>Cidade/UF</th>
        <th>Marcar Ponto</th>
        <th>Listar Pontos</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let estagiario of estagiarios | filter:searchText" (click)="selecionaEstagiario(estagiario)"
        class="cursor">
        <td>{{estagiario?.nome}}</td>
        <td><small> {{estagiario?.cgu}} </small></td>
        <td>{{estagiario?.data_de_nascimento}}</td>
        <td><small>{{estagiario?.cpf | mask:
              '000.000.000-00'}}</small></td>
        <td>{{estagiario?.rg}}</td>
        <td><small>{{estagiario?.telefone_celular}}</small></td>
        <td>{{estagiario?.cidade}} - {{estagiario?.uf}}</td>
        <td>
          <button type="button" class="btn btn-edit-delete"
            (click)='entradaPontoEstagiario(estagiario.id, estagiario.nome)'>
            <a><small>Entrada</small><img src="../../../../assets/imagens/check-in.png" width='35px' height='35px'
                alt=""></a></button>
          <button type="button" class="btn btn-edit-delete"
            (click)='saidaPontoEstagiario(estagiario.cgu, estagiario.nome, estagiario.id)'>
            <a><small>Saida</small><img src="../../../../assets/imagens/check-out.png" width='35px' height='35px'
                alt=""></a></button>

        </td>
        <td>
          <button type="button" class="btn btn-edit-delete"><a><img src="../../../../assets/imagens/schedule.png"
                [routerLink]="['/admin/estagiarios/ponto_estagiario', estagiario.cgu]" width='32px' height='32px'
                alt=""></a></button>
        </td>
        <td>
          <button type="button" class="btn btn-edit-delete"><a><img src="../../../../assets/imagens/edit.svg"
                [routerLink]="['/admin/estagiarios/alterar', estagiario.id]" width='20px' height='20px'
                alt=""></a></button>
          <button type="button" class="btn btn-edit-delete" mwlConfirmationPopover [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage" placement="left" (confirm)="deletarEstagiario(estagiario.id)"
            (cancel)="cancelClicked = true">
            <a><img src="../../../../assets/imagens/delete.svg" width='20px' height='20px' alt=""></a></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <br>
    <button class="btn btn-outline">Próximo</button>
  </div>
</div>

<!-- <app-paginacao [page]="paginacao.page" [qtdPage]="paginacao.pageNumbers" [resultsPerPage]="paginacao.page"
    (changePage)="changePage($event)">
  </app-paginacao> -->