<div class="container">
  <div class="clr-row text-center">

    <div class="clr-col-lg-3 clr-col-12">
      <div class="card link" [routerLink]="['/admin/acolhidos/lista_acolhidos']">
        <div class="clr-row">
          <div class="clr-col-lg-12 clr-col-12 text-center">
            <a [routerLink]="['/admin/acolhidos/lista_acolhidos']">
              <img src="../../../assets/imagens/acolhidos.svg" height="110" width="110">
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h6>Acolhidos</h6>
      </div>
    </div>

    <div class="clr-col-lg-3 clr-col-12">
      <div class="card link" [routerLink]="['/admin/atendimentos/atendimentos']">
        <div class="clr-row">
          <div class="clr-col-lg-12 clr-col-12 text-center ">
            <a [routerLink]="['/admin/atendimentos/atendimentos']">
              <img src="../../../assets/imagens/atendimentos.png" height="110" width="110">
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h6>Atendimentos</h6>
      </div>
    </div>
    <div class="clr-col-lg-3 clr-col-12">
      <div class="card link" [routerLink]="['/admin/estagiarios/lista_estagiarios']">
        <div class="clr-row">
          <div class="clr-col-lg-12 clr-col-12 text-center ">
            <a [routerLink]="['/admin/estagiarios/lista_estagiarios']">
              <img src="../../../assets/imagens/estagiario.png" height="110" width="110">
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h6>Estagiários</h6>
      </div>
    </div>
    <div class="clr-col-lg-3 clr-col-12">
      <div class="card link" [routerLink]="['/admin/relatorios/relatorios']">
        <div class="clr-row">
          <div class="clr-col-lg-12 clr-col-12 text-center ">
            <a>
              <img src="../../../assets/imagens/servico.png" height="110" width="110">
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h6>Serviços</h6>
      </div>
    </div>
  </div>