// @import "../../../assets/sass/layouts/vertical/menu-type/default";
// @import "../../../assets/sass/layouts/vertical/menu-type/overlay";
// @import "../../../assets/sass/layouts/vertical/themes/theme-p";
// @import "../../../assets/sass/layouts/vertical/core/main";
// @import url('https://fonts.googleapis.com/css?family=Varela+Round');

.requiredInput{
    color:red;
    font-size: 18px;
    text-align: center;
}

input{
    font-size: 15px;
}
.select-size{
    font-size: 15px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
.input-rounded{
    border-radius: 10px;
    font-size: 13px;
    width: 95px;
    height: 40px;
}
.radio-inline input[type=radio]{
    position:absolute;
    margin-top:4px\9;
    margin-left:-20px
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

section{
    padding-right: 30px;
    font-family: 'Varela Round', sans-serif;
}

button{
    text-decoration: bold;
    color:white;
    align-content: center;
    background-color: #1c1c4b;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
  }

input.ng-dirty.ng-invalid {
    border-right: 3px solid red
}

.pointer {cursor: pointer;}
.not-allowed {cursor: not-allowed;}

.loading-svg{
    width: 30px;
    height: 30px;
}
.card-header{
    font-size: 22px;
}