<section class="page-content container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-10">
      <div class="card">
        <h2 class="card-header">Novo Estagiário</h2>
        <div class="card-body">
          <form [formGroup]="cadastroForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-row">
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="nome"><strong>Nome</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('nome').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="nome" class="form-control input-rounded text-muted" placeholder="Seu Nome"
                        formControlName="nome" aria-label="nome" aria-describedby="basic-addon1" required>
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="cgu"><strong>CGU</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('cgu').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="cgu" class="form-control input-rounded text-muted" placeholder="CGU"
                        formControlName="cgu" aria-label="cgu" maxlength="9" aria-describedby="basic-addon1" required>
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="data_de_nascimento"><strong>Data de Nascimento</strong></label><small
                      class="requiredInput"
                      *ngIf="cadastroForm.get('data_de_nascimento').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="date" class="form-control input-rounded" id="nascimentoAdm"
                        formControlName="data_de_nascimento" required placeholder="dd/mm/AAAA">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="cpf"><strong>CPF</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('cpf').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="cpf" class="form-control input-rounded text-muted" mask="000.000.000-00"
                        placeholder="000.000.000-00" formControlName="cpf" aria-label="cpf"
                        aria-describedby="basic-addon1" required>
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="rg"><strong>RG</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('rg').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="rg" class="form-control input-rounded text-muted" placeholder="RG"
                        maxlength="12" formControlName="rg" aria-label="rg" aria-describedby="basic-addon1" required>
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="email"><strong>Email</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('email').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="email" formControlName="email" required
                        placeholder="email@email.com">
                    </div>
                  </div>
                  <!-- <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="sexo"><strong>Sexo</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('sexo').hasError('required')">*</small><br>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="sexo" id="sexoM" value="M"
                        aria-describedby="basic-addon1" formControlName="sexo" required mdbInput>
                      <label class="custom-control-label" for="sexoM">Masculino</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="sexo" id="sexoF" value="F"
                        aria-describedby="basic-addon1" formControlName="sexo" required mdbInput>
                      <label class="custom-control-label" for="sexoF">Feminino</label>
                    </div>
                  </div> -->
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="sexo"><strong>Sexo</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('sexo').hasError('required')">*</small>
                    <select id="sexo" class="form-control select-size" formControlName="sexo"
                      required>
                      <option selected="" value="">...</option>
                      <option value="M">Masculino</option>
                      <option value="F">Feminino</option>
                    </select>
                  </div>
                  <div class="col-md-2" [formGroup]="cadastroForm">
                    <label for="estado_civil"><strong>Estado Civil</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('estado_civil').hasError('required')">*</small>
                    <select id="estado_civil" class="form-control select-size"
                      formControlName="estado_civil" required>
                      <option selected="" value="">...</option>
                      <option value="Solteiro(a)">Solteiro(a)</option>
                      <option value="Casado(a)">Casado(a)</option>
                      <option value="Divorciado(a)">Divorciado(a)</option>
                      <option value="Viúvo(a)">Viúvo(a)</option>
                      <option value="Separado(a)">Separado(a)</option>
                    </select>
                  </div>
                  <div class="col-md-6" [formGroup]="cadastroForm">
                    <label for="endereco"><strong>Endereço</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('endereco').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" id="endereco" maxlength="60" class="form-control input-rounded text-muted"
                        mask="" placeholder="Endereco" formControlName="endereco" aria-label="endereco"
                        aria-describedby="basic-addon1" required>
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="cep"><strong>CEP</strong></label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="cep" formControlName="cep"
                        maxlength="10" required placeholder="Seu CEP">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="cidade"><strong>Cidade</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('cidade').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="cidade" formControlName="cidade"
                        required placeholder="Cidade onde nasceu">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="uf"><strong>Estado</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('uf').hasError('required')">*</small>
                    <select id="uf" class="form-control select-size" formControlName="uf"
                      required>
                      <option selected="" value="">...</option>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AP">AP</option>
                      <option value="AM">AM</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MT">MT</option>
                      <option value="MS">MS</option>
                      <option value="MG">MG</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PR">PR</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RS">RS</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SP">SP</option>
                      <option value="SE">SE</option>
                      <option value="TO">TO</option>
                    </select>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="telefone_celular"><strong>Celular</strong></label><small class="requiredInput"
                      *ngIf="cadastroForm.get('telefone_celular').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="telefone_celular"
                        formControlName="telefone_celular" required mask="(00)00000-0000" placeholder="(00) 00000-0000">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="telefone_comercial"><strong>Telefone Comercial</strong></label><small
                      class="requiredInput"
                      *ngIf="cadastroForm.get('telefone_comercial').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="telefone_comercial"
                        formControlName="telefone_comercial" mask="(00)0000-0000" placeholder="(00) 0000-0000">
                    </div>
                  </div>
                  <div class="col-md-4" [formGroup]="cadastroForm">
                    <label for="telefone_residencial"><strong>Telefone Residencial</strong></label><small
                      class="requiredInput"
                      *ngIf="cadastroForm.get('telefone_residencial').hasError('required')">*</small>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input-rounded" id="telefone_residencial"
                        formControlName="telefone_residencial" mask="(00) 0000-0000" placeholder="(00) 0000-0000">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr class="dashed ">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-rounded btn-gradient align-center checkout-animaw col-4 order-6"
          (click)="cadastrarEstagiario()">Cadastrar</button>
      </div>
      <!-- <div class="d-flex justify-content-center" *ngIf="loginFormLoading">
        <img class="loading-svg" src="/assets/imgs/loadingCircle.svg" />
      </div> -->
    </div>
  </div>
</section>