.container{
  max-width: 780px;
}
.form .input-gap {
  width: 100%;
  margin-top: 10px;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
}



button.btn.btn-primary.btn-block {
  width: 100%;
}
img.img-fluid {
  margin-bottom: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (min-width: 992px) {
  .clr-col-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
    margin-left: 20%;
  }
}

div#content-area {
  background: #FAFAFA;
  //background-image: url('https://media.wsimag.com/attachments/9e6159501e468b44616acdabfd4897519c304eb4/store/fill/1090/613/7b705e72baae50d4f29e9ccfa9907f437c328cb7c9a4b1281f026158dee3/Um-lobo-negro.jpg');
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  background-position: 30% 45%;
  //background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-width{
  width: 100%;
}

.container-fluid {
  margin-bottom: 20px;
}
