<div [@animacao-painel]="estadopainel" class="main-container">
  <div class="content-container">
    <div class="content-area" id="content-area">
        <div class="container text-center">
          <div class="clr-row">
            <div class="clr-col-lg-8 clr-col-md-12 clr-col-12">
              <div class="card">
                <div class="card-body">
                  <img src="../../../assets/imagens/output-onlinepngtools.png" alt="Responsive image" class="img-fluid">
                </div>
                <div class="card-text">

                  <div class="container">
                    <form clrForm  [formGroup]="formulario" class="form" (ngSubmit)="onSubmit()">
                      <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Usuário</mat-label>
                        <input
                          matInput
                          placeholder="Informe seu usuário!"
                          formControlName = "username"
                          [errorStateMatcher]="matcher"
                          autocomplete="off"

                        >
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="formulario.controls['username'].hasError('required')">
                          Campo Obrigatório.
                        </mat-error>
                        <mat-error *ngIf="formulario.controls['username'].hasError('minlength') &&  !formulario.controls['username'].hasError('required')">
                          O campo usuário deve conter o valor de 9 caracteres
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Senha</mat-label>
                        <input
                          matInput
                          type="password"
                          placeholder="Informe sua senha!"
                          formControlName = "password"
                          [errorStateMatcher]="matcher"
                          autocomplete="off"
                        >
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-error *ngIf="formulario.controls['password'].hasError('required')">
                          Campo Obrigatório.
                        </mat-error>
                        <mat-error *ngIf="formulario.controls['password'].hasError('minlength') && !formulario.controls['password'].hasError('required')">
                          A senha contém menos de 5 caracteres.
                        </mat-error>
                      </mat-form-field>
                      
                      <button [clrLoading]="submitBtnState" type="submit" class="btn btn-primary btn-block" [disabled]="formulario.invalid || loading">Login</button>
                    </form>
                    <div class="container" *ngIf="retornoAPI">
                      <div class="container-fluid">
                        <p class="text-danger">
                          <b>Nenhuma conta ativa encontrada com as credenciais fornecidas.</b>
                          Verifique seu nome de usuário e senha. Tente novamente.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="card-footer">
                  <a routerLink="/Login_email">Desenha realizar o login com o e-mail ?</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

