<div class="text-right">
  <a class="btn btn-grad" [routerLink]="['/admin/acolhidos/novo_acolhido']">Novo Acolhido</a>
</div>
<div class="text-center">
  <img src="../../../../assets/imagens/magnifying-glass.png" width='20px' height='20px'>
  <input class="form-control search-acolhido" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="Procurar">
</div>
<div class="container text-center">
  <h2 class="card-header">Lista de Acolhidos</h2><br>
  <div>
    <div *ngIf='loading' class="spinner"></div>
    <table class="table-inline">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>CPF</th>
          <th>RG</th>
          <th>Estado Civil</th>
          <th>Cidade</th>
          <th>UF</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let acolhido of acolhidos | filter:searchText" (click)="selecionaAcolhido(acolhido)"
          class="cursor">
          <td class='upper'>{{acolhido?.nome}}</td>
          <td><small> {{acolhido?.email}} </small></td>
          <td>{{acolhido?.telefone_celular}}</td>
          <td>{{acolhido?.cpf | mask:
            '000.000.000-00'}}</td>
          <td>{{acolhido?.rg}}</td>
          <td>{{acolhido?.estado_civil}}</td>
          <td class='upper'>{{acolhido?.cidade}}</td>
          <td class='upper'>{{acolhido?.uf}}</td>
          <td>
            <button type="button" class="btn btn-edit-delete"><a><img src="../../../../assets/imagens/edit.svg"
                  [routerLink]="['/admin/acolhidos/alterar', acolhido.id]" width='20px' height='20px'
                  alt=""></a></button>
            <button type="button" class="btn btn-edit-delete" mwlConfirmationPopover [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage" placement="left" (confirm)="deletarAcolhido(acolhido.id)"
              (cancel)="cancelClicked = true">
              <a><img src="../../../../assets/imagens/delete.svg" width='20px' height='20px' alt=""></a></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <br>
      <button class="btn btn-outline">Próximo</button>
    </div>
  </div>
</div>

<!-- <app-paginacao [page]="paginacao.page" [qtdPage]="paginacao.pageNumbers" [resultsPerPage]="paginacao.page"
  (changePage)="changePage($event)">
</app-paginacao> -->